
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary my-4 cust" data-toggle="modal"  data-target="#exampleModal" (click) = "addClick()" data-backdrop = "static" data-keyboard = "false">
    ADD TASK
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click) = "closeClick()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-add-edit-emp [emp] = "emp" *ngIf = "ActivateAddEditEmpComp">
          </app-add-edit-emp>
        </div>
      
      </div>
    </div>
  </div>
<div class="form-group">
  <input type="text" class="form-control" placeholder="Search any record" [(ngModel)] = "searchText">
</div>

<table class="table">
    <thead class="thead-dark">
      <tr >
        <!-- <th scope="col">#</th> -->
        <th scope="col">User Name</th>
        <th scope="col">Task</th>
        <th scope="col">Bug ID</th>
        <th scope="col"class="text-center">Task Completion Date</th>
        <th scope="col" class="text-center">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let dataItem of EmployeeList | filter : searchText">
          <!-- <td>{{dataItem.EmployeeId}}</td> -->
          <td class="cust"><b>{{dataItem.EmployeeUsername}}</b></td>
          <td>{{dataItem.EmployeeTask}}</td>
          <td>{{dataItem.BugId}}</td>
          <td class="text-center">{{dataItem.TaskDate}}</td>
          <td class = "text-center">
              <button type = "button" class = "btn btn-outline-info mr-2" data-toggle="modal"  data-target="#exampleModal" (click) = "editClick(dataItem)" data-backdrop = "static" data-keyboard = "false">Edit</button>
              <button type = "button" class = "btn btn-outline-danger mr-2" (click) = "deleteClick(dataItem)" >Delete</button>
          </td>
      </tr>
    </tbody>
  </table>

  <!-- <script>
    var employee = this.EmployeeList;
      var app = angular.module("myModule", []).controller("myController",function($scope){
        $scope.employee = employee;
      });
      console.log(employee);  
  </script> -->